@import 'tailwindcss';
@import 'tw-animate-css';

@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'VKHuteType';
  src: url('../../shared/assets/fonts/vkhutetype-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  /* Colors */
  --color-primary: #222222;
  --color-primary-white: #ffffff;
  --color-primary-gray: #a3a3a3;

  --color-secondary: #f34901;
  --color-secondary-yellow: #f8df00;
  --color-secondary-dark: #1c1c1c;

  --color-neutral-100: #f8f8f8;
  --color-neutral-200: #c4c4c4;
  --color-neutral-300: #969696;

  --color-danger: #f10000;
  --color-success: #00ab1b;
  --color-light: #fff5f5;

  /* Typography */
  --font-sans: 'Open Sans', sans-serif;
  --font-vkhute: 'VKHuteType', sans-serif;

  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-h4: 1.25rem;
  --text-body-big: 1.125rem;
  --text-body: 1rem;
  --text-body-small: 0.875rem;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }
}

@keyframes sway {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

.book-sway {
  animation: sway 3s ease-in-out infinite;
}
